@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font-family: "Poppins", sans-serif;
	background-color: #1b2631;
}

.wrapper {
	max-width: 450px;
	width: 100%;
}

.wrapper .search-input {
	background-color: #fff;
	width: 100%;
	border-radius: 5px;
	box-shadow: 0 1px 5px 3px rgba(0, 0, 0, 0.12);
}

.search-input input {
	height: 55px;
	width: 100%;
	outline: none;
	border: none;
	border-radius: 5px;
	padding: 0 60px 0 20px;
	font-size: 18px;
}

.search-input .autobox {
	padding: 0;
	opacity: 1;
	pointer-events: auto;
	max-height: 280px;
	overflow-y: auto;
}

.autobox li {
  list-style-type: none;
  padding: 8px 12px;
  width: 100%;
  cursor: default;
  border-radius: 3px;
  font-family: "Poppins", sans-serif;
}

