* {
	box-sizing: border-box;
}

body {
	background-color: steelblue;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

.empty {
	height: 150px;
	width: 150px;
	margin: 10px;
	border: 3px solid #000;
	background-color: #fff;
}

.fill {
	background-image: url("https://images.unsplash.com/photo-1655437448311-89b3e152ce31?q=80&w=1462&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
	background-size: cover;
	height: 145px;
	width: 145px;
	cursor: pointer;
}

.hold {
	border: 5px solid #ccc;
}

.hovered {
	background-color: #333;
	border-color: #fff;
	border-style: dashed;
}

/* Media queries */
@media (max-width: 800px) {
	body {
		flex-direction: column;
	}
}
