@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
	--nav-and-btn: #03045e;
	--bg-dark: #023e8a;
	--bg-medium-and-btn-border: #0077b6;
	--bg-light-and-box-shadow: #00b4d8;
	--project-card-bg: #caf0f8;
	--text-color-1: #fff;
	--text-color-2: #000;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Ubuntu", "Work Sans", sans-serif;
	color: var(--text-color-1);
}

body {
	background: linear-gradient(
		to bottom,
		var(--bg-light-and-box-shadow) 0%,
		var(--bg-medium-and-btn-border) 25%,
		var(--bg-dark) 50%,
		var(--bg-medium-and-btn-border) 75%,
		var(--bg-light-and-box-shadow) 100%
	);
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

h1 {
	margin-top: 4rem;
}

h2 {
	text-align: center;
}

button {
	background-color: var(--nav-and-btn);
	padding: 0.5rem;
	color: var(--text-color-1);
	border: 1px solid var(--bg-medium-and-btn-border);
	border-radius: 8px;
	cursor: pointer;
	font-size: 1rem;
}

button:hover {
	opacity: 0.7;
}

button:active {
	transform: scale(0.98);
}

/* NAVBAR */
.nav-container {
	background-color: var(--nav-and-btn);
	color: var(--text-color-1);
	font-size: 1.5rem;
	text-transform: uppercase;
	font-style: italic;
	padding: 1rem;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: fixed;
	top: 0;
	z-index: 1;
}

.nav-menu {
	display: flex;
	gap: 40px;
}

.nav-menu li {
	font-weight: 600;
	letter-spacing: 1px;
	cursor: pointer;
	padding: 0.5rem;
}

.nav-menu a:hover,
.nav-left i:hover,
footer a:hover {
	color: var(--text-color-2);
	transition: all 0.3s ease-in-out;
}

.nav-left {
	display: flex;
	gap: 1rem;
	position: absolute;
	top: 1.5rem;
	left: 1.5rem;
}

.hamburger {
	display: none;
}

.bar {
	background-color: var(--text-color-1);
	display: block;
	width: 23px;
	height: 3px;
	margin: 5px auto;
	transition: all 0.3s ease-in-out;
}

/* HERO */
.hero-container {
	display: flex;
	padding: 2rem;
	margin-top: 4rem;
}

/*left-side*/
.hero-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1.5;
	padding: 1rem;
}

.hero-info h1,
.hero-info h2,
.hero-info p {
	text-align: center;
	color: var(--text-color-2);
}

.hero-info p {
	font-style: italic;
	line-height: 2rem;
	max-width: 800px;
	font-size: 1.2rem;
	margin: 2rem;
}

.hero-icons {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
}

.icon-container {
	display: flex;
	flex-direction: column;
	text-align: center;
	font-weight: bold;
	font-size: 0.8rem;
	color: var(--text-color-2);
	margin-top: 1.5rem;
}

.icon-container img {
	width: 4rem;
	margin-bottom: 0.3rem;
	border-radius: 15%;
}

/* right side */
.hero-img {
	flex: 0.8;
	border-radius: 50%;
	position: relative;
	top: 4rem;
	right: 3rem;
}

.animated-image {
	background-image: url("../assets/profile-pic.jpg");
	width: 400px;
	height: 400px;
	background-size: cover;
	margin: 2rem;
	box-shadow: 0 5px 5px 5px var(--bg-light-and-box-shadow);
	animation: animate 5s ease-in-out infinite;
	transform: all 1s ease-in-out;
}

/* ABOUT */
#about h2 {
	margin-top: 12rem;
	font-size: 2rem;
}

.about-section {
	width: 90%;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.about-text h3 {
	padding: 0.5rem;
}

.about-text {
	width: 44%;
	margin: 0 3.5rem;
	margin-top: 3rem;
	padding: 1rem;
	text-align: center;
	line-height: 1.5rem;
}

.about-text p {
	font-size: 1.2rem;
	padding: 0.8rem;
	margin-bottom: 1.5rem;
}

.about-text h3 {
	font-size: 1.5rem;
	padding: 0;
}

/* image carousel */
.carousel {
	height: 435px;
	width: 500px;
	overflow: hidden;
}

.image-container {
	display: flex;
	transform: translateX(0);
	transition: transform 0.5s ease-in-out;
}

.image-container img {
	height: 400px;
	width: 500px;
	object-fit: contain;
}

.buttons-container {
	display: flex;
	justify-content: space-between;
}

.carousel-btn {
	width: 49.5%;
}

/* PROJECTS */
#projects h2 {
	font-size: 2rem;
	margin: 5rem;
}

.project-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

.project-card {
	position: relative;
	width: 400px;
	height: 400px;
	margin: 1rem;
	box-shadow: 0 2px 20px var(--bg-light-and-box-shadow);
	overflow: hidden;
	background-color: var(--project-card-bg);
	border-radius: 15px;
	transition: all 0.8s ease-in-out;
}

.project-card:hover {
	transform: translateY(-10px);
}

.img-area {
	position: relative;
	width: 100%;
	height: 250px;
	overflow: hidden;
}

.img-area img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.3s ease;
}

.img-area:hover img {
	transform: scale(1.1);
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.project-card:hover .overlay {
	opacity: 1;
}

.view-project {
	color: var(--text-color-1);
	width: 150px;
	padding: 1rem;
	border: 1px solid var(--project-card-bg);
	box-shadow: 1px 1px 1px var(--bg-light-and-box-shadow);
	border-radius: 8px;
	font-size: 0.75rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	margin-bottom: 10px;
}

.info {
	padding: 1rem;
	text-align: center;
}

.info h3 {
	margin: 0.5rem;
	font-size: 1.5rem;
	font-weight: bold;
	text-transform: uppercase;
	color: var(--text-color-2);
}

.info p {
	color: black;
	line-height: 1.4rem;
	letter-spacing: 1px;
}

/* CONTACT */
.contact {
	text-align: center;
}

.contact h2 {
	font-size: 2rem;
	margin: 2rem;
	color: var(--text-color-2);
}

.contact p {
	display: inline-block;
	margin: 2rem;
	padding: 3rem;
	font-size: 1.5rem;
	font-weight: 500;
	color: var(--text-color-2);
}

.contact p:hover {
	color: var(--text-color-1);
	transition: all 0.3s ease;
}

/* FOOTER */
footer {
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 3rem;
}

footer p,
footer i {
	color: var(--text-color-2);
	font-weight: bold;
	font-size: 1.3rem;
	line-height: 2.5rem;
}

footer i:hover {
	cursor: pointer;
	color: var(--text-color-1);
	transition: 0.3s;
}

/* MEDIA QUERIES */
/* navbar */
@media only screen and (max-width: 768px) {
	.nav-menu {
		position: fixed;
		top: 3rem;
		width: 100%;
		flex-direction: column;
		align-items: center;
		right: -100%;
		transition: 0.3s;
		background-color: var(--nav-and-btn);
	}

	.nav-menu.active {
		right: 0;
	}

	.nav-menu li {
		padding: 1rem;
	}

	.hamburger {
		display: block;
		cursor: pointer;
	}

	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}
	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}
	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
}

/*hero*/
@media only screen and (min-width: 1200px) {
	.hero-info p {
		padding: 1rem 4rem;
	}
}

@media only screen and (min-width: 1400px) {
	.hero-info p {
		padding: 1rem 6rem;
	}
	.icon-container img {
		width: 4.5rem;
		font-size: 0.9rem;
	}
}

@media only screen and (min-width: 1600px) {
	.hero-info p {
		padding: 1rem 8rem;
	}
	.icon-container img {
		width: 5rem;
		font-size: 1rem;
	}
}

@media only screen and (max-width: 768px) {
	.hero-container {
		flex-direction: column;
	}
	.icon-container img {
		width: 3rem;
	}
	.hero-img {
		margin-left: 9rem;
	}
}
/* about */
@media only screen and (max-width: 1200px) {
	.about-section {
		flex-direction: column;
	}
	.about-text {
		margin-left: 10rem;
		width: 90%;
	}
	.carousel {
		margin-left: 10rem;
	}
}
@media only screen and (max-width: 768px) {
	.about-text {
		margin-left: 8rem;
	}
	.carousel {
		margin-left: 4rem;
	}
}

/* KEYFRAMES */
/* animated hero image */
@keyframes animate {
	0%,
	100% {
		border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
	}
	50% {
		border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
	}
}
