@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	background: #00b5dd;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	padding: 10% 0;
}

.review-card {
	background-color: #f5f5f5;
	border-radius: 10px;
	padding: 20px;
	width: 300px;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.img-area {
	width: 80px;
	height: 80px;
	overflow: hidden;
	border-radius: 50%;
	margin-right: 25px;
}

.img-area img {
	width: 100%;
}

.header-content {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.info h4 {
	margin: 0;
	font-size: 22px;
	font-weight: 600;
}

.info p {
	margin: 5px 0 0;
	font-size: 14px;
	font-weight: 400;
	color: #666;
}

.single-review p {
	margin: 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.7;
	color: #333;
}

.review-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
	font-size: 14px;
	color: #666;
}

.rating {
	display: flex;
}

.rating span {
	color: #000;
	font-size: 18px;
}

.rating span.active {
	color: #fbc02d;
}

@media screen and (max-width: 767px) {
	.wrapper {
		flex-direction: column;
		align-items: center;
	}
	.review-card {
		width: 85%;
	}
}
