*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
	min-height: 100%;
}

body {
	min-height: 100vh;
}

.container {
	width: min(90%, 1140px);
	margin: 3rem auto;
}

.comment-container {
	position: relative;
}

.comment-container:before {
	content: "";
	background-color: #aaa3a3;
	position: absolute;
	min-height: 100%;
	width: 1px;
	left: -10px;
}

.comment-container:not(:first-child) {
	margin-left: 3rem;
	margin-top: 1rem;
}
