@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Ubuntu Condensed", sans-serif;
	background-color: pink;
}

.testimonial-slider {
	--slide-count: 5;
	--slide-width: calc((100% / var(--slide-count)-2em));
  width: 100%;
  height: 25em;
  position: relative;
  background-color: #c7e8ff;
}
