@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Ubuntu Condensed", sans-serif;
	background-color: pink;
}

.testimonial-slider {
	--slide-count: 5;
	--slide-width: calc((100% / var(--slide-count)-2em));
	width: 100%;
	height: 25em;
	position: relative;
	background-color: #c7e8ff;
	overflow: hidden;
}

.slide {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: var(--slide-width);
	height: calc(100% - 2em);
	background-color: #fff;
	padding: 1.2em;
	display: flex;
	flex-direction: column;
	border-radius: 7px;
	transition: 0.3s ease-out;
}

.testimonial {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.testimonial p {
	color: #4d4d4d;
	line-height: 1.7em;
	text-indent: 0.3em;
	font-style: italic;
}

.testimonial i {
	display: inline;
	font-size: 2.5em;
	color: #2478ff;
}

.user {
	display: flex;
	align-items: center;
	gap: 1em;
}

.user img {
	width: 5em;
	height: 5em;
	border-radius: 50%;
}

.name p {
	line-height: 1.3em;
	margin-block: 0.4em;
	font-size: 0.9em;
	color: #9e9e9e;
}

.rating {
	color: #ffde3a;
}

.slider-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2em;
	padding: 2em;
	background-color: #c7e8ff;
}

button {
	border: none;
	background-color: #2478ff;
	border-radius: 7px;
	color: #fff;
	width: 2em;
	height: 2em;
	font-size: 1.5em;
	transition: 0.2s;
	cursor: pointer;
}

button:hover {
	background-color: #1c65d9;
}

.slide:nth-child(1) {
	left: calc((var(--slide-width) * -1));
}

.slide:nth-child(2) {
	left: 1em;
}

.slide:nth-child(3) {
	left: calc(var(--slide-width) * 1 + 2em);
}

.slide:nth-child(4) {
	left: calc(var(--slide-width) * 2 + 3em);
}

.slide:nth-child(5) {
	left: calc(var(--slide-width) * 3 + 4em);
}

