@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

* {
	margin: 0;
	padding: 0;
}

.vhs-container {
	position: relative;
	overflow: hidden;
}

.lines {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 300;
	opacity: 0.6;
	animation: opacity 3s linear infinite;
}

.lines:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(
		to bottom,
		transparent 50%,
		rgba(0, 0, 0, 0.5) 51%
	);
	background-size: 100% 1rem;
	animation: scanlines 0.2s linear infinite;
}

.vhs {
	position: fixed;
	top: 0;
	left: 0;
	font-family: "Press Start 2P", cursive;
	color: #fff;
	font-size: 2rem;
	width: 100vw;
	height: 100vh;
	background: #2b52ff;
}

.vhs .vhs-text {
	position: absolute;
	left: 2rem;
	top: 2rem;
	animation: vhsText 2s steps(9) 0s infinite alternate;
}

.vhs .rec {
	position: absolute;
	left: 2rem;
	bottom: 2rem;
	animation: vhsText 1s steps(9) 0s infinite alternate;
}

@keyframes scanlines {
	from {
		background: linear-gradient(
			to bottom,
			transparent 50%,
			rgba(0, 0, 0, 0.5) 51%
		);
		background-size: 100% 4px;
	}
	to {
		background: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.5) 50%,
			transparent 51%
		);
		background-size: 100% 4px;
	}
}

@keyframes vhsText {
	0% {
		text-shadow: -1px 1px 8px #ffffff99, 1px -1px 8px #ffffebb3,
			0px 0 1px #fb00e7cc, 0 0px 3px #00e9ebcc, 0px 0 3px #00f20ecc,
			0 0px 3px #f42d00cc, 0px 0 3px #3b00e2cc;
	}
	25% {
		text-shadow: -1px 1px 8px #ffffff99, 1px -1px 8px #ffffebb3,
			0px 0 1px #fb00e7cc, 0 0px 3px #00e9ebcc, 0px 0 3px #00f20ecc,
			0 0px 3px #f42d00cc, 0px 0 3px #3b00e2cc;
	}
	45% {
		text-shadow: -1px 1px 8px #ffffff99, 1px -1px 8px #ffffebb3,
			5px 0 1px #fb00e7cc, 0 5px 1px #00e9ebcc, -5px 0 1px #00f20ecc,
			0 -5px 1px #f42d00cc, 5px 0 1px #3b00e2cc;
	}
	50% {
		text-shadow: -1px 1px 8px #ffffff99, 1px -1px 8px #ffffebb3,
			-5px 0 1px #fb00e7cc, 0 -5px 1px #00e9ebcc, 5px 0 1px #00f20ecc,
			0 5px 1px #f42d00cc, -5px 0 1px #3b00e2cc;
	}
	55% {
		text-shadow: -1px 1px 8px #ffffff99, 1px -1px 8px #ffffebb3,
			0px 0 3px #fb00e7cc, 0 0px 3px #00e9ebcc, 0px 0 3px #00f20ecc,
			0 0px 3px #f42d00cc, 0px 0 3px #3b00e2cc;
	}
	90% {
		text-shadow: -1px 1px 8px #ffffff99, 1px -1px 8px #ffffebb3,
			-5px 0 1px #fb00e7cc, 0 5px 1px #00e9ebcc, 5px 0 1px #00f20ecc,
			0 -5px 1px #f42d00cc, 5px 0 1px #3b00e2cc;
	}
	100% {
		text-shadow: -1px 1px 8px #ffffff99, 1px -1px 8px #ffffebb3,
			5px 0 1px #fb00e7cc, 0 -5px 1px #00e9ebcc, -5px 0 1px #00f20ecc,
			0 5px 1px #f42d00cc, -5px 0 1px #3b00e2cc;
	}
}
