body {
  margin: 0;
  padding: 0;
  background-color: darkgreen;
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://images.pexels.com/photos/169677/pexels-photo-169677.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

img {
  width: 70px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 60px;
  z-index: 2;
}

.clock {
  position: relative;
  background-color: black;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 5px solid goldenrod;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

.numbers div {
  position: absolute;
  font-size: 27px;
  font-weight: bold;
  color: rgb(91, 209, 44);
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.7);
}

.twelve {
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
}

.three {
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.six {
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
}

.nine {
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.arrows {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.arrows::before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: rgb(219, 190, 27);
  border-radius: 50%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  z-index: 4;
}

.arrows div {
  background-color: white;
  width: 7px;
  position: absolute;
  height: 120px;
  transform-origin: bottom center;
  bottom: 50%;
  z-index: 3;
  border-radius: 50% 50% 0 0;
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3);
}

.arrows .hour {
  height: 80px;
  transform: rotate(30deg);
  background-color: goldenrod;
}

.arrows .minute {
  background-color: greenyellow;
}

.arrows .second {
  height: 90px;
  transform: rotate(250deg);
  background-color: rgb(247, 226, 109);
}